* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
}


.box-zone {
  display: block;
  padding: 1px 25px;
  font-size: 1em;
  border-width: 1px;
  transition: all 0.3s linear;
  margin: 0 auto;
  background-color: white;
  width: 200px;
  /*  height: 100px;*/
  max-width: 150px;
  max-height: 200px padding: 20px;
  box-sizing: border-box;
}

.box-zone>img {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main>h1 {

  text-align: justify;
  font-size: 20px;
  margin: 2rem;
  font-size: xx-large;
  text-align: center;
  color: #7e7c7b8a;
  font-family: fantasy;

}

/* basic font setting */
h1 {
  text-align: justify;
  /*line-height: 2.8;*/
  font-size: 20px;
  margin: 1rem;
}

h2 {
  /* background-color: #c73f151e; */
  grid-row: 1px;
  border-radius: 25px;
  font-size: 22px;
  text-align: center;
  border: groove;
  font-style: italic
}

h3 {
  font-size: 20px;
  text-align-last: center;
  color: rgba(0, 0, 0, 0.685);
}

h4 {
  color: #c73f1579;
  font-size: 25px;
  margin: auto;
  font-style: oblique;
  /* float: left; */


}

li {
  list-style-type: none;
}

/* GRID */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  grid-gap: 20px;
  grid-area: main;
  grid-area: sidebar;
}