body{
	background-color: rgba(115, 140, 166);
}
img{
    width: 100px;
    height: 50px;
    vertical-align: left;   
}

div{
	text-align: left;
	text-transform:lowercase; 
	 padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 8px;
}

p{
	text-align: center;
    border-color: red;
}
